<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>checkLogin</filter-name>
        <filter-class>StudentManagement.filter.checkLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>checkLogin</filter-name>
        <url-pattern>/WEB-INF/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HandleRegister</servlet-name>
        <servlet-class>StudentManagement.servlet.HandleRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleRegister</servlet-name>
        <url-pattern>/helpRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>StudentManagement.servlet.HandleLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>database</servlet-name>
        <servlet-class>StudentManagement.servlet.HandleDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>database</servlet-name>
        <url-pattern>/helpReadRecord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>information</servlet-name>
        <servlet-class>StudentManagement.servlet.HandleInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>information</servlet-name>
        <url-pattern>/handleInformation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>toPersonalInfo</servlet-name>
        <servlet-class>StudentManagement.servlet.forwardPersonalInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>toPersonalInfo</servlet-name>
        <url-pattern>/toPersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectedDatabse</servlet-name>
        <servlet-class>StudentManagement.servlet.HandleSelectedDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectedDatabse</servlet-name>
        <url-pattern>/helpReadSelectedRecord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>helpLogout</servlet-name>
        <servlet-class>StudentManagement.servlet.HandleLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helpLogout</servlet-name>
        <url-pattern>/helpLogout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>